---
pageable: true
---

%header.site-head{style: "background-image: url(/images/cover.jpg)"}
  .vertical
    .site-head-content.inner
      - if blog_logo?
        %a.blog-logo{href: '/'}
          = image_tag blog_logo, alt: 'Blog Logo'
      %h1.blog-title
        Archive for
        - case page_type
        - when 'day'
          = Date.new(year, month, day).strftime('%b %e %Y')
        - when 'month'
          = Date.new(year, month, 1).strftime('%b %Y') 
        - when 'year'
          = year

%main.content{role: :main}
  - page_articles.each_with_index do |article, i|
    = partial :post_overview, :locals => {:article => article}

  - if paginate
    %nav.pagination{role: :pagination}
      - if prev_page
        = link_to '← Newer Posts', prev_page, class: 'newer-posts'
      %span.page-number Page #{page_number} of #{num_pages}
      - if next_page
        = link_to 'Older Posts →', next_page, class: 'older-posts'
